# Root level ignores
/.idea/
/.pytest_cache/
/certs/
/dist/
/env/
/rules/
/tests/
/venv/
/config.yaml
/*.jsonl

# Anywhere ignores
__pycache__/
.cache/
.coverage/
.tox/
*.pyc
*.egg-info/
*.swp
*~

# ignore certain hidden folders folders
.git
.cache
.DS_Store
.pytest_cache

# ignore certain hidden files
.env
.gitignore
