# Root level ignores
/.idea/
/.pytest_cache/
/build/
/certs/
/dist/
/docs/build/
/env/
/rules/
/venv/
/*.yaml
/*.jsonl
/*.ndjson

# Anywhere ignores
__pycache__/
.cache/
.coverage/
.tox/
*.pyc
*.egg-info/
*.swp
*~

.env
