apscheduler>=3.6.0
croniter>=0.3.30
elasticsearch>=6.0.0,<8.0.0
jsonschema>=3.0.0
prison>=0.1.2
python-dateutil~=2.8.0
pytz>=2019.1
PyYAML>=5.1.1
requests>=2.0.0
sortedcontainers>=2.1.0
texttable>=1.0.0
